<div id="intro" class="clearfix">
  <div class="artwork" class="clearfix">

   <div class="cols quadruple">
      <h2 lang="<%= WY.constants.locale %>">Typojanchi 2015</h2>
      <h3 lang="<%= WY.constants.locale %>">The 4th International Typography Biennale</h3>
      <h3 lang="<%= WY.constants.locale %>">11 November — 27 December, 2015</h3>
      <h3 lang="<%= WY.constants.locale %>">Culture station 284 and other corresponding places</h3>
      <p class="description" lang="<%= WY.constants.locale %>">
        The distinguishing characteristics of cities can be found in airports, train stations and public systems, such as road signs or street signs marked with symbols and letters. Such characteristics can also be found in places of natural heritage such as rivers, parks, or artifacts like buildings and monuments. However, the authentic cultural characterof cities, which might be both traditional or vernacular, is acquired and achieved from the lives of people.The resulting languages and structures which exist everywhere in the streets of the city might resemble something akin to a religious confession emanating from the lives of people.
      </p>
      <p class="description" lang="<%= WY.constants.locale %>">
      These days, commercial signage and street flyers all compete with public sign systems such as speed limits and directional markers.The information of newspapers and magazines has now spread to mobile screens in the palms of people. At all times, the eyes of citizens are permanently occupied. Signage located on and around buildings is static but now equipped with technology and a variety of forms by which they cover the entire facade of the cityscape.
      </p>
      <p class="description" lang="<%= WY.constants.locale %>">
      Typojanchi 2015 wishes to consider the city’s own typographic cultural aspects. As we mentioned above, we consider these to be authentic locations. Despite the existence of unsightly or perhaps disagreeable objects and structures, we consider these to be authentic scenes in a city. We can recognize these as meaningful components of a diverse, urban environment. And with all of these components, we embark on a celebration or ‘Janchi’(Korean for party/celebration) of typography.This is Typojanchi’s means of interpreting this era and the essential values in this generation, society and community with those who are interested in typographic culture and the city environment. Whether they are designers or artists, it is their perspectives and points of view that we hope to share with this age.
      </p>
    </div>
    
    <div style="clear: both;"></div>

    <div class="cols single">
      <p class="description venue">
        <span class="underline" lang="<%= WY.constants.locale %>">
          Culture Station 284<br>
        </span>
        <span lang="<%= WY.constants.locale %>">
          Nov 11—Dec 27<br>
          10am—7pm<br><br>
          1 Tongil-ro, Jung-gu, Seoul<br><br>
          Ends at 6pm<br>
          Closed on Mondays<br>
        </span>
      </p>
    </div>
    <div class="cols single">
      <p class="description venue">
        <span class="underline" lang="<%= WY.constants.locale %>">
          Thanks Books<br>
        </span>
        <span lang="<%= WY.constants.locale %>">
          Oct 20—Nov 23<br>
          12pm—9:30pm<br><br>
          28 Jandari-ro, Mapo-gu, Seoul<br><br>
          Closed on last Monday of the month<br>
        </span>
      </p>
    </div>
    <div class="cols single">
      <p class="description venue">
        <span class="underline" lang="<%= WY.constants.locale %>">
          In The Paper Gallery<br>
        </span>
        <span lang="<%= WY.constants.locale %>">
          Nov 11—Dec 27<br>
          Mon-Fri: 10am—6pm<br>
          Sat: 10am—2pm<br><br>
          41 Sejong-daero 23-gil, Jung-gu, Seoul<br><br>
          Closed on Sundays and public holidays<br>
          'Seoul Welcomes You' available for purchase<br>
        </span>
      </p>
    </div>
    <div class="cols single">
      <p class="description venue">
        <span class="underline" lang="<%= WY.constants.locale %>">
          Small House Big Door<br>
        </span>
        <span lang="<%= WY.constants.locale %>">
          Nov 11—Dec 27<br>
          Open everyday<br><br>
          Special exhibition space on the ground floor lobby, 6 Namdaemun-ro 9-gil, Jung-gu, Seoul<br><br>
          'Seoul Welcomes You' available for purchase<br>
        </span>
      </p>
    </div>
    <div style="clear: both;"></div>
    <div class="divider cols quadruple"></div>
    <div style="clear: both;"></div>

    <div class="cols double">
      <p class="description venue">
        <span lang="<%= WY.constants.locale %>">Director in General: Kyungsun Kymn<br><br>Kyungsun Kymn studied graphic design at Konkuk University and Central Saint Martins College of Art and Design. He also worked for Cheil Worldwide and Hong Design as a designer. He is a member of the graphic designer club, Jindallae and now he teaches in the Department of Design at the College of Fine Arts of Seoul National University. He translated the book, From Gutenberg to Opentype (2010).</span>
      </p>
    </div>
    <div class="cols double logos">
      <img src="<%= WY.constants.home_url %>/images/ct.svg" class="ct">
      <img src="<%= WY.constants.home_url %>/images/tj.svg" class="tj">
    </div>
    <div style="clear: both;"></div>
    <div class="divider cols quadruple"></div>
    <div style="clear: both;"></div>
  </div><!-- artwork -->


  <!-- ROW 2 -->
  <div class="artwork clearfix">
    <div class="cols single credit">
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Hosted By</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Ministry of Culture, Sports and Tourism</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Organized By</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Korea Craft and Design Foundation</li>
        <li lang="<%= WY.constants.locale %>">Korean Society of Typography</li>
      </ul>

      <h4><span class="underline" lang="<%= WY.constants.locale %>">Authorized by</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">ico-D</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Organizing Committee</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Ahn Sang Soo (Chairman)</li>
        <li lang="<%= WY.constants.locale %>">Neville Brody</li>
        <li lang="<%= WY.constants.locale %>">Lars Muller</li>
        <li lang="<%= WY.constants.locale %>">Paula Scher</li>
        <li lang="<%= WY.constants.locale %>">Wang Xu</li>
        <li lang="<%= WY.constants.locale %>">Hara Kenya</li>
        <li lang="<%= WY.constants.locale %>">Yongseob Kim</li>
        <li lang="<%= WY.constants.locale %>">Jeongcheol Choi</li>
        <li lang="<%= WY.constants.locale %>">Jaejoon Han </li>
      </ul>

      <h4><span class="underline" lang="<%= WY.constants.locale %>">Promotion Committee</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Min Choi (Chairman)</li>
        <li lang="<%= WY.constants.locale %>">Byungju Lee</li>
        <li lang="<%= WY.constants.locale %>">Jin Yeoul Jung</li>
        <li lang="<%= WY.constants.locale %>">Jaewan Jung</li>
        <li lang="<%= WY.constants.locale %>">Sujin Park</li>
        <li lang="<%= WY.constants.locale %>">Seongtae Park</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Sponsor</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Naver</li>
        <li lang="<%= WY.constants.locale %>">Doosung paper</li>
        <li lang="<%= WY.constants.locale %>">The Japan Foundation, Seoul</li>
      </ul>

      <h4><span class="underline" lang="<%= WY.constants.locale %>">Support</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Ahn graphics</li>
        <li lang="<%= WY.constants.locale %>">Small house big door</li>
        <li lang="<%= WY.constants.locale %>">INNOIZ</li>
        <li lang="<%= WY.constants.locale %>">Rebel9</li>
        <li lang="<%= WY.constants.locale %>">Samsung</li>
      </ul>

      <h4><span class="underline" lang="<%= WY.constants.locale %>">Media sponsor</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Monthly Design</li>
        <li lang="<%= WY.constants.locale %>">Idea magazine</li>
        <li lang="<%= WY.constants.locale %>">SPACE magazine</li>
      </ul>

    </div>
    <div class="cols single credit">
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Director</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Kyungsun Kymn</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Special Exhibition Director</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Adrian Shaughnessy</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Chief Curator</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Kiseob Lee</li>
        <li lang="<%= WY.constants.locale %>">Jaemin Lee</li>
        <li lang="<%= WY.constants.locale %>">Chris Ro</li>
        <li lang="<%= WY.constants.locale %>">Kelly Moonkyung Choi</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Curator</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Goto Tetsuya</li>
        <li lang="<%= WY.constants.locale %>">Byung-Geol Min</li>
        <li lang="<%= WY.constants.locale %>">Fritz K. Park</li>
        <li lang="<%= WY.constants.locale %>">Byung-Hak Ahn</li>
        <li lang="<%= WY.constants.locale %>">Hyun Cho (Daeki Shim, Choongho Lee)</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Committee</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Miyeon Jun</li>
        <li lang="<%= WY.constants.locale %>">Hongkyu Lee</li>
        <li lang="<%= WY.constants.locale %>">Adele Hyunjung Yoon</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Coordinator</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Youngeun Sohn</li>
        <li lang="<%= WY.constants.locale %>">Daeun Lee</li>
        <li lang="<%= WY.constants.locale %>">Asechi Kimi</li>
      </ul>
    </div>
    <div class="cols single credit">
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Graphic Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Youngeun Sohn</li>
        <li lang="<%= WY.constants.locale %>">Daeun Lee</li>
        <li lang="<%= WY.constants.locale %>">Kang Hong</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Design Assistant</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Doyeon Yang</li>
        <li lang="<%= WY.constants.locale %>">Yeji Han</li>
        <li lang="<%= WY.constants.locale %>">Hyeeun Leem</li>
        <li lang="<%= WY.constants.locale %>">Sohee Kim</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Exhibition Graphic Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Studio fnt</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Exhibition Space Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">zero-lab</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Website Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">E Roon Kang</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Official Poster Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Aaron Nieh</li>
        <li lang="<%= WY.constants.locale %>">Helmo</li>
        <li lang="<%= WY.constants.locale %>">Jaemin Lee</li>
        <li lang="<%= WY.constants.locale %>">Keetra Dean Dixon</li>
        <li lang="<%= WY.constants.locale %>">Ludovic Balland</li>
        <li lang="<%= WY.constants.locale %>">Richard Niessen</li>
        <li lang="<%= WY.constants.locale %>">Siggi Eggertsson</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Communication Poster Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Jaemin Lee</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Catalogue Publishing</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Ahn graphics</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Catalogue Editing</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Hwalsung Park</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Catalogue Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Kyeongsoo Lee</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Photograph</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Jinsol Kim</li>
        <li lang="<%= WY.constants.locale %>">SSSauna Studio</li>
      </ul>
    </div>
    <div class="cols single credit">
      <h2 lang="<%= WY.constants.locale %>">Typojanchi Pre-Biennale Project</h2>
      <h3 lang="<%= WY.constants.locale %>">City Type Exploration Project</h3>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Project Planning &amp; Coordination</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Hyungjae Kim </li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Speaker</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Hyungjae Kim</li>
        <li lang="<%= WY.constants.locale %>">Jaehyun Bahk</li>
        <li lang="<%= WY.constants.locale %>">Yerin Kang</li>
        <li lang="<%= WY.constants.locale %>">Chihoon Lee</li>
        <li lang="<%= WY.constants.locale %>">Bonjoon Goo (1964-2014)</li>
        <li lang="<%= WY.constants.locale %>">Haecheon Park</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Poster &amp; Website Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Ahjoo Kwon</li>
        <li lang="<%= WY.constants.locale %>">Hyungjae Kim</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">City Type Bus Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Chae Lee</li>
      </ul>
      <h3 lang="<%= WY.constants.locale %>">Typojanchi Intertalks</h3>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Graphic Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Studio Plat</li>
      </ul>
      <h3 lang="<%= WY.constants.locale %>">Newsletter Project</h3>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Newsletter Advisory Committee</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Adrian Shaughnessy (Chairman)</li>
        <li lang="<%= WY.constants.locale %>">Catherine Griffiths</li>
        <li lang="<%= WY.constants.locale %>">Rob Giampietro</li>
        <li lang="<%= WY.constants.locale %>">Tetsuya Goto</li>
        <li lang="<%= WY.constants.locale %>">Peter Bilak </li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Newsletter Management</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Jeongyeon Koo</li>
        <li lang="<%= WY.constants.locale %>">Seongtae Park</li>
        <li lang="<%= WY.constants.locale %>">Jin Yeoul Jung</li>
        <li lang="<%= WY.constants.locale %>">Chris Ro</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Publishing</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Mediabus</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Editing</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Kyung Yong Lim </li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Design</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Donghyeok Shin</li>
        <li lang="<%= WY.constants.locale %>">Haeok Shin</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Translating</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">Yunim Kim</li>
      </ul>
    </div>
    <div style="clear: both;"></div>
  </div><!-- artwork -->
  <div class="artwork clearfix">
    <div class="divider cols quadruple"></div>
    <div style="clear: both;"></div>
    <div class="cols single credit">
      <h2 lang="<%= WY.constants.locale %>">Typojanchi <br>Administration Office</h2>
    </div>
    <div class="cols single credit">
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Address</span></h4>
      <ul class="index-list">
        <span lang="<%= WY.constants.locale %>">5F, 53 Yulgok-ro<br>Jongno-gu, Seoul<br>03060, Korea</span>
      </ul>
    </div>
    <div class="cols single credit">
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Tel</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">+82-2-398-7956</li>
      </ul>
      <h4><span class="underline" lang="<%= WY.constants.locale %>">Fax</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">+82-2-398-7999</li>
      </ul>
    </div>
    <div class="cols single credit">
      <h4><span class="underline" lang="<%= WY.constants.locale %>">E-mail</span></h4>
      <ul class="index-list">
        <li lang="<%= WY.constants.locale %>">typojanchi@kcdf.kr</li>
      </ul>
    </div>
  </div><!-- artwork -->
</div>