<div class="cols single">
  <ul class="index-list">
    <li><a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn"><span lang="<%= WY.constants.locale %>">(<%= project.idx %>) <%= detail["project_name_" + WY.constants.locale] %></span></a></li>
    <% _.each(project.project_artists, function(artist) { %>
      <li>
        <a href="<%= make_url(artist.url) %>" data-permalink="<%= extract_permalink_from_url(artist.url) %>" class="participant_change_btn">
          <span lang="<%= WY.constants.locale %>"><%= artist["full_name_" + WY.constants.locale] %></span>
        </a>
      </li>
    <% }); %>
    <li class="removeiflast">&nbsp;</li>
  </ul>
</div>
<% _.each(detail.artworks, function(work){ %> 
  <div id="artwork">
    <div class="cols triple">
      <h3 class="participant" lang="<%= WY.constants.locale %>"><%= detail["full_name_" + WY.constants.locale] %></h3>
      <h4 class="artwork" lang="<%= WY.constants.locale %>"><%= work["artwork_name_" + WY.constants.locale] %><% if (!_.isUndefined(work.artwork_year) && !_.isNull(work.artwork_year)){ %>, <% } %><%= work.artwork_year %></h4>
      <p class="description">
        <span lang="<%= WY.constants.locale %>"><%= work["artwork_desc_" + WY.constants.locale] %></span>
      </p>
      <p class="venue">
        <a href="#"><span lang="<%= WY.constants.locale %>"><%= detail["venue_name_" + WY.constants.locale] %>, <%= detail["venue_city_" + WY.constants.locale] %>, <%= detail["venue_country_" + WY.constants.locale] %></span></a>
      </p>
    </div>
    <div class="cols triple artwork-photo">
      <img src="<%= WY.constants.home_url %>/images/img.jpg">
      <!-- need to remove gap here on the right side -->
    </div>
  </div>
<% }); %>
<div class="cols single">
  — <br/>
  <a href="#"><span lang="<%= WY.constants.locale %>"><%= detail["origin_city_" + WY.constants.locale] %>, <%= detail["origin_country_" + WY.constants.locale] %></span></a>
</div>
<div style="clear: both;"></div>