<div class="clearfix">

  <div class="single left-nav">
    <ul class="index-list">
      <li><a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn"><span lang="<%= WY.constants.locale %>">(<%= project.idx %>)</span></a></li>
      
      <h2>
        <a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn">
          <span lang="<%= WY.constants.locale %>"><%= project["project_name_" + WY.constants.locale] %></span>
        </a>
      </h2>

      <% _.each(project.project_artists, function(artist) { %>
        <li class="<% if (extract_permalink_from_url(artist.url) == permalink) { %>current<% } %>">
          <a href="<%= make_url(artist.url) %>" data-permalink="<%= extract_permalink_from_url(artist.url) %>" class="participant_change_btn">
            <span lang="<%= WY.constants.locale %>">
            <%= artist["full_name_" + WY.constants.locale] %></span>
          </a>
        </li>
      <% }); %>
      <li class="removeiflast">&nbsp;</li>
    </ul>
  </div>


  <div class="artwork clearfix">

    <div class="cols triple">
      <h3 class="participant" lang="<%= WY.constants.locale %>"><%= detail["full_name_" + WY.constants.locale] %></h3>

      <% _.each(detail.artworks, function(work){ %> 
          <h4 lang="<%= WY.constants.locale %>"><%= work["artwork_name_" + WY.constants.locale] %><% if (!_.isUndefined(work.artwork_year) && !_.isNull(work.artwork_year)){ %>, <% } %><%= work.artwork_year %></h4>
          <p class="description">
            <span lang="<%= WY.constants.locale %>"><%= simple_format(work["artwork_desc_" + WY.constants.locale]) %></span>
          </p>
          
      <% }); %>
      <p class="venue">
        <a href="#"><span lang="<%= WY.constants.locale %>"><%= detail["venue_name_" + WY.constants.locale] %>, <%= detail["venue_city_" + WY.constants.locale] %>, <%= detail["venue_country_" + WY.constants.locale] %></span></a>
      </p>
      <div class="cols double">  
        <p class="description bio">
          <span lang="<%= WY.constants.locale %>"><%= detail["participant_bio_" + WY.constants.locale] %></span>
          <br>
          <br>
          <a href="<%= WY.constants.home_url %>/<%= WY.constants.locale %>/city-<%= conv_to_slug(detail["origin_city_en"]) %>" data-permalink="city-<%= conv_to_slug(detail["origin_city_en"]) %>" class="city_btn"><span lang="<%= WY.constants.locale %>"><%= detail["origin_city_" + WY.constants.locale] %>, <%= detail["origin_country_" + WY.constants.locale] %></span></a>
        </p>
      </div>
    </div>
    <!-- <div class="cols single">
      — <br/>
      <a href="<%= WY.constants.home_url %>/<%= WY.constants.locale %>/city-<%= conv_to_slug(detail["origin_city_en"]) %>" data-permalink="city-<%= conv_to_slug(detail["origin_city_en"]) %>" class="city_btn"><span lang="<%= WY.constants.locale %>"><%= detail["origin_city_" + WY.constants.locale] %>, <%= detail["origin_country_" + WY.constants.locale] %></span></a>
    </div> -->
    
    <% _.each(detail.photos, function(photo){ %>
      <div class="cols triple artwork-photo">
        <figure>
          <a href="<%= WY.constants.home_url %><%= photo.substring(1, photo.length) %>" data-lightbox="image" data-title="<a href='<%= url_from_project_name(project.idx, project.project_name_en) %>' lang='<%= WY.constants.locale %>'>(<%= project.idx %>) <%= project["project_name_" + WY.constants.locale] %></a> — <a href='<%= WY.constants.home_url %>/<%= WY.constants.locale %>/city-<%= conv_to_slug(detail["origin_city_en"]) %>' lang='<%= WY.constants.locale %>'><%= detail["full_name_" + WY.constants.locale] %></a>"><img src="<%= WY.constants.home_url %><%= photo.substring(1, photo.length) %>"></a>
        </figure>
      </div>
    <% }); %>
  
    <!-- <div class="cols double">  
      <p class="description bio">
        <span lang="<%= WY.constants.locale %>"><%= detail["participant_bio_" + WY.constants.locale] %></span>
      </p>
    </div> -->

    <div style="clear: both;"></div>
  </div><!--artwork-->

  <div class="single left-nav below">
    <ul class="index-list">
      <li><a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn"><span lang="<%= WY.constants.locale %>">(<%= project.idx %>)</span></a></li>
      
      <h2>
        <a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn">
          <span lang="<%= WY.constants.locale %>"><%= project["project_name_" + WY.constants.locale] %></span>
        </a>
      </h2>

      <% _.each(project.project_artists, function(artist) { %>
        <li class="<% if (extract_permalink_from_url(artist.url) == permalink) { %>current<% } %>">
          <a href="<%= make_url(artist.url) %>" data-permalink="<%= extract_permalink_from_url(artist.url) %>" class="participant_change_btn">
            <span lang="<%= WY.constants.locale %>">
            <%= artist["full_name_" + WY.constants.locale] %></span>
          </a>
        </li>
      <% }); %>
      <li class="removeiflast">&nbsp;</li>
    </ul>
  </div>

</div>