<% _.each(project.photos, function(photo){ %>
<a href="<%= WY.constants.home_url %>/<%= WY.constants.locale %>/<%= photo.permalink %>" data-permalink="<%= photo.permalink %>" class="project_carousel--image">
  <img src="<%= WY.constants.home_url %><%= photo.url.substring(1, photo.length) %>" />
  <div class="caption">
    <h2>(<%= photo.idx %>) <%= photo["project_name_" + WY.constants.locale] %></h2>
    <h3> <%= photo["title_" + WY.constants.locale] %></h3>
  </div>
  <div class="overlay-left"></div>
  <div class="overlay-right"></div>
</a>
<% }); %>