<div id="artwork">
  <div class="cols triple">
    <h3 class="participant" lang="<%= WY.constants.locale %>">(<%= project.idx %>) <%= detail["project_name_" + WY.constants.locale] %></h3>
    <h4 class="artwork" lang="<%= WY.constants.locale %>">Curated by <%= detail["curator_name_" + WY.constants.locale] %></h4>

    <p class="description">
      <span lang="<%= WY.constants.locale %>"><%= detail["project_desc_" + WY.constants.locale] %></span>
    </p>

    <p class="description bio">
      <span lang="<%= WY.constants.locale %>"><%= detail["curator_bio_" + WY.constants.locale] %></span>
    </p>
  </div>
 </div>

<div class="cols double project-participants">
<h3>Participants</h3>
  <ul class="index-list project-participants">
    <% _.each(project.project_artists, function(artist) { %>
      <li>
        <a href="<%= make_url(artist.url) %>" data-permalink="<%= extract_permalink_from_url(artist.url) %>" class="participant_change_btn">
          <span lang="<%= WY.constants.locale %>"><%= artist["full_name_" + WY.constants.locale] %></span>
        </a>
      </li>
    <% }); %>
    <li class="removeiflast">&nbsp;</li>
  </ul>
</div> 


<div style="clear: both;"></div>