<div class="clearfix">

  <div class="single left-nav">
    <ul class="index-list">
      <li><a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn"><span lang="<%= WY.constants.locale %>">(<%= project.idx %>)</span></a></li>
      
      <h2>
        <a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn">
          <span lang="<%= WY.constants.locale %>"><%= project["project_name_" + WY.constants.locale] %></span>
        </a>
      </h2>

      <% _.each(project.project_artists, function(artist) { %>
        <li>
          <a href="<%= make_url(artist.url) %>" data-permalink="<%= extract_permalink_from_url(artist.url) %>" class="participant_change_btn">
            <span lang="<%= WY.constants.locale %>"><%= artist["full_name_" + WY.constants.locale] %></span>
          </a>
        </li>
      <% }); %>
      <li class="removeiflast">&nbsp;</li>
    </ul>
  </div>


  <div class="artwork" class="clearfix">
    <!-- images -->
    <!-- <div class="cols triple project-photo">
      <figure>
        <img src="<%= WY.constants.home_url %>/images/img.jpg">
      </figure>
    </div>
    <div class="cols triple project-photo">
      <figure>
        <img src="<%= WY.constants.home_url %>/images/img.jpg">
      </figure>
    </div> -->



    <div class="cols triple">  
      <h2 class="mobile"><a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn"><span lang="<%= WY.constants.locale %>">(<%= project.idx %>) <%= project["project_name_" + WY.constants.locale] %></span></a></h2>

      <h4 lang="<%= WY.constants.locale %>"><%= simple_format(detail["curator_name_" + WY.constants.locale]) %></h4>

      <p class="description">
        <span lang="<%= WY.constants.locale %>"><%= simple_format(detail["project_desc_" + WY.constants.locale]) %></span>
      </p>

      <% _.each(project.photos, function(photo){ %>
        <div class="cols triple artwork-photo">
          <figure>
            <a href="<%= WY.constants.home_url %><%= photo.url.substring(1, photo.url.length) %>" data-lightbox="image-1"><img src="<%= WY.constants.home_url %><%= photo.url.substring(1, photo.url.length) %>"></a>
          </figure>
        </div>
      <% }); %>
    
      <div class="cols double">  
        <p class="description bio">
          <span lang="<%= WY.constants.locale %>"><%= simple_format(detail["curator_bio_" + WY.constants.locale]) %></span>
        </p>
      </div>
      <!-- <h3 class="participant" lang="<%= WY.constants.locale %>">(<%= project.idx %>) <%= detail["project_name_" + WY.constants.locale] %></h3> -->
    </div>



    <div style="clear: both;"></div>
  </div>
</div>