<div class="clearfix">

  <div class="single left-nav">
    <ul class="index-list">
      <li><a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn"><span lang="<%= WY.constants.locale %>">(<%= project.idx %>)</span></a></li>
      
      <h2>
        <a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn">
          <span lang="<%= WY.constants.locale %>"><%= project["project_name_" + WY.constants.locale] %></span>
        </a>
      </h2>

      <% _.each(project.project_artists, function(artist) { %>
        <li class="<% if (extract_permalink_from_url(artist.url) == permalink) { %>current<% } %>">
          <a href="<%= make_url(artist.url) %>" data-permalink="<%= extract_permalink_from_url(artist.url) %>" class="participant_change_btn">
            <span lang="<%= WY.constants.locale %>">
            <%= artist["full_name_" + WY.constants.locale] %></span>
          </a>
        </li>
      <% }); %>
      <li class="removeiflast">&nbsp;</li>
    </ul>
  </div>


  <div class="artwork" class="clearfix">

    <div class="cols triple">
      <h3 class="participant" lang="<%= WY.constants.locale %>"><%= detail["full_name_" + WY.constants.locale] %></h3>

      
      <p class="description">
        <span lang="<%= WY.constants.locale %>"><%= simple_format(detail["artwork_desc_" + WY.constants.locale]) %></span>
      </p>
      
      
      <p class="venue">
        <a href="#"><span lang="<%= WY.constants.locale %>"><%= detail["venue_detail_" + WY.constants.locale] %>, <%= detail["venue_city_" + WY.constants.locale] %>, <%= detail["venue_country_" + WY.constants.locale] %></span></a>
      </p>
    </div>


<!--     <div class="cols triple artwork-photo">
      <figure>
        <img src="<%= WY.constants.home_url %>/images/img.jpg">
      </figure>
    </div>
    <div class="cols triple artwork-photo">
      <figure>
        <img src="<%= WY.constants.home_url %>/images/img.jpg">
      </figure>
    </div>
    <div class="cols triple artwork-photo">
      <figure>
        <img src="<%= WY.constants.home_url %>/images/img.jpg">
      </figure>
    </div> -->

    <div style="clear: both;"></div>
  </div><!--artwork-->

  <div class="single left-nav below">
    <ul class="index-list">
      <li><a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn"><span lang="<%= WY.constants.locale %>">(<%= project.idx %>)</span></a></li>
      
      <h2>
        <a href="<%= url_from_project_name(project.idx, project.project_name_en) %>" data-permalink="<%= project.idx %>-<%= conv_to_slug(project.project_name_en) %>" class="participant_change_btn">
          <span lang="<%= WY.constants.locale %>"><%= project["project_name_" + WY.constants.locale] %></span>
        </a>
      </h2>

      <% _.each(project.project_artists, function(artist) { %>
        <li class="<% if (extract_permalink_from_url(artist.url) == permalink) { %>current<% } %>">
          <a href="<%= make_url(artist.url) %>" data-permalink="<%= extract_permalink_from_url(artist.url) %>" class="participant_change_btn">
            <span lang="<%= WY.constants.locale %>">
            <%= artist["full_name_" + WY.constants.locale] %></span>
          </a>
        </li>
      <% }); %>
      <li class="removeiflast">&nbsp;</li>
    </ul>
  </div>

</div>